
<body class="bg-light">
  <main>
    <section class="bg-white mb-4 shadow-2">
      <div class="container">
        <section class="mb-5">
          <div
            class="p-5 text-center bg-image shadow-1-strong rounded-bottom"
            style="
              background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fG5hdHVyZSUyMGRhcmt8ZW58MHx8MHw%3D&w=1000&q=80');
              height: 400px;
            "
          ></div>
          <div class="d-flex justify-content-center">
            <img
              src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
              alt=""
              class="shadow-3-strong position-absolute img-fluid"
              style="
                width: 160px;
                height: 160px;
                margin-top: -115px;
                border-radius: 50%;
                border: 2px solid white;
              "
            />
          </div>
        </section>
        <section class="text-center border-bottom">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-2">
              <h2><strong>Shashank</strong></h2>
              <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                quam numquam inventore minima blanditiis earum repudiandae.
              </p>
            </div>
          </div>
        </section>
        <section class="py-3 d-flex justify-content-between align-items-center">
          <div>
            <button
              type="button"
              class="btn btn-link bg-light"
              data-mdb-ripple-color="dark"
            >
              Posts
            </button>
            <button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              About</button
            ><button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              Friends <small class="text-muted">877</small></button
            ><button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              Photos
            </button>
            <div class="dropdown d-inline-block">
              <button
                class="btn btn-link text-reset dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="far fa-edit mr-1"></i>Edit profile
            </button>
            <button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-eye"></i></button
            ><button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-search"></i></button
            ><button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
        </section>
      </div>
    </section>
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <h1>Intro</h1>
                </h5>
                <ul class="list-unstyled text-muted">
                  <li>
                    <i class="fas fa-briefcase mr-3 mb-3"></i>Works at
                    <strong>Trukker</strong>
                  </li>
                  <li>
                    <i class="fas fa-graduation-cap mr-3 mb-3"></i>Studied at
                    <strong>Harvard University</strong>
                  </li>
                  <li>
                    <i class="fas fa-home mr-3 mb-3"></i>Lives in
                    <strong>Bangalore</strong>
                  </li>
                  <li>
                    <i class="fas fa-rss mr-3 mb-3"></i>Followed by
                    <strong>456 people</strong>
                  </li>
                  <li>
                    <i class="fab fa-instagram mr-3 mb-3"></i>
                    <strong>lord_bae_less</strong>
                  </li>
                </ul>
                <button
                  type="button"
                  class="btn btn-light bg-newl btn-block mb-4"
                  data-mdb-ripple-color="dark"
                  style="box-shadow: none"
                >
                  EDIT DETAILS
                </button>
                <button
                  type="button"
                  class="btn btn-light bg-newl btn-block mb-4"
                  data-mdb-ripple-color="dark"
                  style="box-shadow: none"
                >
                  ADD HOBBIES
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-7 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body">
                <div class="d-flex mb-3">
                  <img
                    src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    alt=""
                    style="height: 40px; width: 40px"
                    class="rounded-circle border mr-2"
                  />
                  <div class="text-dark mb-0">
                    <strong>Shashank</strong>
                    <div class="d-block text-muted" style="margin-top: -6px">
                      <small>10h</small>
                    </div>
                  </div>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati nam blanditiis quo pariatur omnis voluptates magnam
                </p>
              </div>
              <img
                src="https://c.ndtvimg.com/2021-01/jo87gdvo_cristiano-ronaldo-juventus-afp_625x300_04_January_21.jpg"
                alt=""
                class="w-100"
              />
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                  <div>
                    <i class="fas fa-thumbs-up text-primary mx-1"></i>
                    <i class="fas fa-heart text-danger mx-1"></i>
                    <span class="mx-1">128</span>
                  </div>
                  <div class="text-muted">64 Comments</div>
                </div>
                <div
                  class="d-flex justify-content-between text-center border-top mb-4"
                >
                  <button class="btn btn-link btn-lg">
                    <i class="fas fa-thumbs-up mr-2"></i> Like
                  </button>
                  <button class="btn btn-link btn-lg">
                    <i class="fas fa-comment mr-2"></i>Comment
                  </button>
                  <button class="btn btn-link btn-lg">
                    <i class="fas fa-share mr-2"></i>Share
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
