<body class="bg-light">
  <main>
    <section class="bg-white mb-4 shadow-2">
      <div class="container">
        <section class="mb-5">
          <div
            class="p-5 text-center bg-image shadow-1-strong rounded-bottom"
            style="
              background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fG5hdHVyZSUyMGRhcmt8ZW58MHx8MHw%3D&w=1000&q=80');
              height: 400px;
            "
          ></div>
          <div class="d-flex justify-content-center">
            <img
              src="{{ user?.imgUrl }}"
              alt=""
              class="shadow-3-strong position-absolute img-fluid"
              style="
                width: 160px;
                height: 160px;
                margin-top: -115px;
                border-radius: 50%;
                border: 2px solid white;
              "
            />
          </div>
        </section>
        <section class="text-center border-bottom">
          <div style="display: flex; flex-direction: column">
            <div>
              <h2>
                <strong>{{ user.firstName }}</strong>
              </h2>
            </div>
            <div>
              <div
                class="d-flex justify-content-center align-items-center w-50 mb-2"
                style="margin: auto"
              >
                <p  *ngIf="!isInfoEditing" class="text-muted m-0">
                  {{ profileInfo }}
                </p>
                <button
 *ngIf="!isInfoEditing"
                  (click)="isInfoEditing = !isInfoEditing"
                  style="
                    border: none;
                    background: transparent;
                    max-width: min-content;
                    max-height: min-content;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                    />
                  </svg>
                </button>
              </div>

              <input
                  style="border: 1px solid gray"
                  [(ngModel)]="profileInfo"
*ngIf="isInfoEditing"
                  type="text"
                  class="rounded"
                />
                <button
                  (click)="
                    isInfoEditing = !isInfoEditing;
                    infoChanged('userInfo', profileInfo)
                  "
                  *ngIf="isInfoEditing"
                  style="
                    border: none;
                    background: transparent;
                    max-width: min-content;
                    max-height: min-content;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                    />
                  </svg>
                </button>

            </div>
          </div>
        </section>

        <section class="py-3 d-flex justify-content-between align-items-center">
          <div>
            <button
              type="button"
              class="btn btn-link bg-light"
              data-mdb-ripple-color="dark"
            >
              Posts
            </button>
            <button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              About</button
            ><button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              Friends <small class="text-muted">877</small></button
            ><button
              type="button"
              class="btn btn-link text-reset"
              data-mdb-ripple-color="dark"
            >
              Photos
            </button>
            <div class="dropdown d-inline-block">
              <button
                class="btn btn-link text-reset dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="far fa-edit mr-1"></i>Edit profile
            </button>
            <button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-eye"></i></button
            ><button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-search"></i></button
            ><button
              type="button"
              class="btn btn-light bg-newl px-3 mr-2"
              data-mdb-ripple-color="dark"
              style="box-shadow: none"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
        </section>
      </div>
    </section>
    <section class="">
      <div class="container" >
        <div class="row">
          <div class="col-md-5 mb-4 mb-md-0 mt-3 px-0">
            <div class="card">
              <div class="card-body" >
                <h5 class="card-title">
                  <h1>Intro</h1>
                </h5>
                <ul class="list-unstyled text-muted">
                  <li>
                    <i class="fas fa-briefcase mr-3 mb-3"></i>Works at
                    <strong >Trukker</strong>
                  </li>
                  <li>
                    <i class="fas fa-graduation-cap mr-3 mb-3"></i>Studied at
                    <strong>Harvard University</strong>
                  </li>
                  <li>
                    <i class="fas fa-home mr-3 mb-3"></i>Lives in
                    <strong>Bangalore</strong>
                  </li>
                  <li>
                    <i class="fas fa-rss mr-3 mb-3"></i>Followed by
                    <strong>456 people</strong>
                  </li>
                  <li>
                    <i class="fab fa-instagram mr-3 mb-3"></i>
                    <strong>lord_bae_less</strong>
                  </li>
                </ul>
                <button
                  type="button"
                  class="btn btn-light bg-newl btn-block mb-4"
                  data-mdb-ripple-color="dark"
                  style="box-shadow: none"
                >
                  EDIT DETAILS
                </button>
                <button
                  type="button"
                  class="btn btn-light bg-newl btn-block mb-4"
                  data-mdb-ripple-color="dark"
                  style="box-shadow: none"
                >
                  ADD HOBBIES
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-7 mb-4 mb-md-0 px-0">
            <div style="display: flex; flex-direction: column" >
              <div *ngFor="let item of posts.reverse()">
                <app-post [item]="item"></app-post>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
