<div class="container mt-3 mb-3 w-100" style="background-color: #f0f2f5">
  <div
    class="d-flex align-items-center justify-content-center"
    style="background-color: #f0f2f5"
  >
    <div
      class="w-100"
      style="
        background-color: #f0f2f5;
        box-shadow: 0 2px 3px 0 rgb(204, 199, 199);
      "
    >
      <div class="card" style="padding: 1em">
        <div class="d-flex justify-content-between p-2 px-3">
          <div class="d-flex flex-row align-items-center">
            <img src="{{ item.dp }}" width="50" class="rounded-circle" />
            <div class="d-flex flex-column ml-2">
              <span class="font-weight-bold">{{ item.name }}</span>
              <small>{{ momentCall(item.time) }}</small>
            </div>
          </div>
        </div>

        <div class="p-2">
          <p class="text-justify">
            {{ item.text }}
          </p>
        </div>
        <img src="{{ item.postImg }}" class="img-fluid" />

        <hr />
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row icons d-flex align-items-center">
            <i
              class="fas fa-thumbs-up"
              aria-hidden="true"
              style="color: rgb(57, 57, 219)"
            >
              {{ item.likes }}</i
            >
            <div *ngIf="showLikenames" class="text-muted mx-2">
              Liked by
              <span *ngFor="let i of item.userLiked; let index = index">
                <span *ngIf="index == 2"> & {{ item.likes - 2 }} others</span>
                <span *ngIf="index != 0 && index < 2">,</span
                ><span *ngIf="index < 2">{{ i.fname }}</span>
              </span>
            </div>
          </div>
          <div class="d-flex flex-row muted-color">
            <span>2 comments</span>
          </div>
        </div>
        <hr />

        <div class="d-flex">
          <button
            type="button"
            class="btn btn-light col"
            style="width: 70px; margin-right: 5px"
            (click)="likeUpdate()"
          >
            <i
              [ngStyle]="{ color: likedByCurrentUser ? 'blue' : 'black' }"
              class="fas fa-thumbs-up"
            ></i>
            <span [ngStyle]="{ color: likedByCurrentUser ? 'blue' : 'black' }"
              >Like</span
            >
          </button>
          <button
            type="button"
            class="btn btn-light col"
            style="width: 70px; margin-right: 5px"
          >
            <i class="fa fa-comment"></i><span>Comment</span>
          </button>
          <button
            type="button"
            class="btn btn-light col"
            style="width: 70px; margin-right: 5px"
          >
            <i class="fa fa-mail-forward"></i><span>Share</span>
          </button>
        </div>

        <div class="comments">
          <div class="d-flex flex-row mb-2">
            <img
              src="https://i.guim.co.uk/img/media/cbbb9d4829cdfe592c89a40b20db96a4d278b2bf/0_201_4337_2602/master/4337.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=bd86cfa0cd7625f83119ac58ab1385e7"
              width="40"
              class="rounded-image"
            />
            <div class="d-flex flex-column ml-2">
              <span class="name">Cristiano</span>
              <small class="comment-text">Good scene bro!</small>
              <div class="d-flex flex-row align-items-center status">
                <small>Like</small> <small>Reply</small> <small>18 mins</small>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row mb-2">
            <img
              src="https://icdn.football-espana.net/wp-content/uploads/2020/11/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg"
              width="40"
              class="rounded-image"
            />
            <div class="d-flex flex-column ml-2">
              <span class="name">Messi</span>
              <small class="comment-text">Thanks</small>
              <div class="d-flex flex-row align-items-center status">
                <small>Like</small> <small>Reply</small> <small>8 mins</small>
              </div>
            </div>
          </div>
          <div class="comment-input">
            <input type="text" class="form-control" />
            <div class="fonts"><i class="fa fa-camera"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
