.homepage {
  background-color: #f0f2f5;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  height: 40px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.home-header {
  background-color: rgb(211, 197, 197);
}
/* img {
  height: 2.5rem;
} */
.search {
  height: 30px;
  width: 180px;
}
.ms-n5 {
  margin-left: -40px;
}
.form-rounded {
  border-radius: 2rem;
  width: 17rem;
  height: 2.5rem;
  background-color: #ebeef5;
}

.img-watch {
  height: 1.7rem;
  width: 3rem;
  margin-left: 5rem;
}

.img-home {
  height: 1.7rem;
  width: 3rem;
  margin-left: 4rem;
}
.img-create {
  height: 1.5rem;
  width: 3rem;
  margin-left: 8rem;
}
.side-nav-font {
  font-size: 0.9375rem;
  font-weight: 500;
}
/* .card {
  height: 10rem;
  width: 58rem;
  border-radius: 1rem;
  margin-top: 4rem;
  margin-left: 20.5rem;
} */
.post-input {
  width: 550px;
  height: 50px;
}
.post-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.post-live-img {
  height: 70px;
  width: 60px;
}
.post-photo-img {
  height: 35px;
  width: 35px;
}
.post-photo-activity {
  height: 60px;
  width: 60px;
}
.margin-left-live {
  margin-left: 15px;
}
.margin-left-photo {
  margin-left: 70px;
  margin-top: 10px;
}
.margin-left-activity {
  margin-left: 50px;
}
button {
  padding: 0;
  border: none;
  background: none;
}
.preview {
  width: 35rem;
  height: 14rem;
}
.navbar {
  /* overflow: hidden;
  background-color: #333; */
  position: fixed;
  /* top: 0;
  width: 100%; */
}

/* .side-nav-bar{
  overflow: hidden;
  position: fixed;
  top: 3.5rem;
  width: 20rem;
} */
.post-card {
  margin-left: 30px;
  width: 50px;
}
.navbar-fixed {
  position: fixed;
}
.input-rounded {
  border-radius: 2rem;
  width: 29.5rem;
  height: 2.5rem;
  background-color: #ebeef5;
}

.scrollable:hover {
  overflow-y: auto !important;
}

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
}
.chat-nav-font {
  font-size: 1.5em;
  font-weight: 500;
  color: #65676b;
}
.post-button {
  background-color: #1b74e4;
  padding: 0.43rem 2.3rem 0.43rem 2.3rem;
}

img {
  height: 2rem;
  border-radius: 1rem;
}
.post-left {
  margin-left: 4rem;
}
