<div class="row">
  <div class="col">Some fields</div>
  <div class="col">
    <div class="card text-center mt-3 submit-form">
      <div class="card-body d-flex justify-content-around">
        <div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0lKRDfRzkefUJVpoOaA28fcgBcn9SHR_07g&usqp=CAU"
            alt="user"
            class="img-fluid rounded-circle"
            style="height: 40px; width: 40px"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="post"
            placeholder="What's on ypur mind?"
            [(ngModel)]="post.post"
            name="post"
            style="height: 40px; width: 240px"
          />
        </div>
        <button (click)="savePost()" class="btn btn-success">Post</button>
      </div>
      <div class="card-footer text-muted d-flex justify-content-around">
        <div>Live videos</div>
        <div>Photos/videos</div>
        <div>Feelings/Activity</div>
      </div>

      <div class="list row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let p of arr; let i = index">
              {{ p.post }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">Some fields</div>
</div>
