.fa {
    padding: 15px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    /* text-decoration: none; */
    /* margin: 5px 2px; */
    height: 40px;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
  .home-header{
      background-color: rgb(211, 197, 197);
  }
  img{
      height: 45px;
  }
  .search{
      height: 30px;
      width: 180px;
  }
  .ms-n5 {
    margin-left: -40px;
}
