/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* html, body { height: 50%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
pre{
  color: rgba(255, 72, 0, 0.658);
}

.btn-light:focus {
      box-shadow:none
}
.btn-light:active {
      box-shadow:none
}
